.gsap-reveal {
    visibility: hidden;
}
.main-section {
    color: white; border-bottom-style: solid; font-weight: 900;
    border-bottom-color: white; font-size: 6vw; margin: 20px;
}
.container, .textbutton, .musicaudio {transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);}
.container, .textbutton, .musicaudio, .musictitle, .button {
transition: all 0.5s ease-in-out;
}
/*for large devices*/
@media screen and (min-width: 700px)
{
    .container{display: flex; flex-direction: row;
     align-items: center; gap: 30px; justify-content: center; flex-wrap: wrap;}
    .textbutton{display: flex; flex-direction: column;
                    align-items: center;}
    .musicaudio{margin-left: 10px; margin-right: 40px; max-width: 100%; width: 40vw;}
}
.musictitle{
    text-align: center; margin-bottom: 20px;
    font-size: 24px; max-width: 100%;
}
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.button{
    background-color: white; color: black;
    border-radius: 25px; border-style: groove; width: 10em; height: 1.4em;
    display: inline-flex; align-items: center; justify-content: center; text-align: center;
    font-size: 24px; text-decoration: none; max-width: 100%; line-height: 1.2;
    font-weight: 500; padding: 10px 20px; cursor: pointer; margin-bottom: 25px;
}
            
/*for large devices*/
@media screen and (min-width: 700px){
    .musictitle{font-size: 3.43vw;}
}
@media screen and (min-width: 700px){
    .button{font-size: 3vw;}
 }