/*(Nav design)for large devices*/
@media screen and (min-width: 1350px){
  .content::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(design.gif);
    background-repeat: no-repeat;
    background-size: 100vw 21vw;
    z-index: -1;
    animation: gifFadeIn 2s ease-in;
  }
}
@keyframes gifFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.Autograph2{
  width: 10em; margin-top: 70px; margin-left: 20px;
  animation-name: shrink; animation-duration: 2s;
  animation-iteration-count: 2; display: inline;
}
@keyframes shrink{50%{transform: scale(0.5, 0.5);}}

@font-face {
    font-family: StackSansNotch-Bold;
    src: url(StackSansNotch-Bold.ttf); font-display: swap;
}

/*Navigation CSS*/
.nav-burger{color: white; z-index: 1;}
.nav-close{color: white; background-color: black;}
.nav-data{height: 100%; display: flex; justify-content: space-between; align-items: center;}

.nav-toggle{position: relative; width: 32px; height: 32px;}
.nav-burger,
.nav-close{
  position: absolute; width: max-content;
  height: max-content; inset: 0; margin: auto;
  font-size: 1.25rem; cursor: pointer; transition: opacity .1s, transform .4s;
}
.nav-close{opacity: 0;}
.nav-menu{margin-top: 140px;}

@media screen and (max-width: 1350px){
  .nav-menu{
    position: absolute; left: 0; top: 2.5rem; width: 100%; height: calc(100vh - 3.5rem);
    overflow: auto; pointer-events: none; opacity: 0; transition: top .4s; z-index: 1;
  }
  .nav-menu::--webkit--scrollbar{width: 0;}
  .nav-list{
    background-color: rgb(0, 0, 0); z-index: 1; padding-top: 1rem; border: solid;
    border-image: linear-gradient(45deg, red, blue, green) 1;
  }
}

.nav-link{
  padding: 1.25rem 1.5rem; display: flex; justify-content: space-between;
  align-items: center; transition: background-color .3s;
}
.nav-link:hover{background-color: hsl(0, 0%, 10%);}


.nav-list a{color:rgb(201, 191, 10); text-decoration: none;  font-family: StackSansNotch-Bold;}
.nav-list span{color:rgb(201, 191, 10); text-decoration: none;  font-family: StackSansNotch-Bold;} 
.nav-list{font-size: 1.4em; list-style: none;}

@media screen and (min-width: 700px){.nav-list{font-size: 3.5vw;}}

.show-menu{
  opacity: 1; top: 3.5rem; pointer-events: initial;
}

.show-icon .nav-burger{opacity: 0; transform: rotate(90deg);}
.show-icon .nav-close{opacity: 1; transform: rotate(90deg);}

/*for smaller devices*/
@media screen and (max-width: 1118px){
  .container{margin-inline: 1rem;} .nav-link{padding-inline: 1rem;}
}


/*for large devices*/
@media screen and (min-width: 1350px){
  .container{margin-inline: auto;}
  .nav-container{display: flex;  align-items: center;}
  .nav-link:hover{ background-color: transparent;}
  .nav{height: calc(var(--header-height) + 2rem);
    display: flex; justify-content: space-between;}
  .nav-toggle{display: none;}
  .nav-list{height: 100%; display: flex; column-gap: 3rem;}
  .nav-link{height: 100%; justify-content: initial; column-gap: .25rem;}
  .Autograph2 {width: 13vw;}
  .social-media-icons{width: 98.8%;}
  .nav-menu{float: right;}
}