.Autograph2{
  width: 10em; margin-top: 70px; margin-left: 20px;
  animation-name: shrink; animation-duration: 2s;
  animation-iteration-count: 2; display: inline;
}
@keyframes shrink{50%{transform: scale(0.5, 0.5);}}

/*for large devices*/
@media screen and (min-width: 1350px){
    .Autograph2{width: 13vw;}
    .social-media-icons{width: 98.8%;}
}