.gsap-reveal {
    visibility: hidden;
}
.main-section {
    color: white; border-bottom-style: solid; font-weight: 900;
    border-bottom-color: white; font-size: 6vw; margin: 20px;
}
.no-event {
    font-weight: 150; color: white; margin-left: 20px;
}
.video-title{color: rgb(201, 191, 10); text-align: center;}
.youtube{width: 75vw; height: calc(75vw * 9 / 16);}
/* Video Grid */
.video-grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.video-item {
    background-color:gray;
    width: 75vw; height: calc(75vw * 9 / 16);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.button3{background-color: black; color: white; border-color: white; font-size: 15px; max-width: 100%;}
.button3:hover{ color: rgb(201, 191, 10); border-color: rgb(201, 191, 10); transition: all 0.3s ease-in-out; } 
.button3:active{ color: rgb(201, 191, 10); border-color: rgb(201, 191, 10);}
/*for large devices*/
@media screen and (min-width: 900px){
    .button3{font-size: 1.8vw; margin-left: 90px;}
}
